<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sac.dao.UserMapper">
    <resultMap id="UserMap" type="com.sac.pojo.User">
        <!--将数据库表与实体类对应-->
        <result column="pwd" property="password"/>
    </resultMap>
    <!--查询所有用户信息-->
    <!--resultMap，是对外部resultMap的引用，
    用于数据库字段信息与对象属性不一致的情况，可以完成较复杂的联合查-->
    <select id="getUserList" resultMap="UserMap">
         select * from user
    </select>

    <select id="getUserByLimit" parameterType="map" resultType="com.sac.pojo.User">
        select * from user limit #{startIndex},#{pageSize}
    </select>

    <select id="getUserByRowBounds" resultMap="UserMap">
        select * from user
    </select>
</mapper>